@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Croissant+One&family=Noto+Serif+Display:ital,wght@1,200&family=Raleway:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Assistant', sans-serif;
font-family: 'Croissant One', cursive;
font-family: 'Noto Serif Display', serif;
font-family: 'Raleway', sans-serif;
background-color: aliceblue;
}

.text {
    display: flex;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin:  5%;
}

.container {
    width: 50%; height: 20vh;  position: relative; display: flex; justify-content: center; align-items: center; font-style: normal;
    font-size: 25px ; margin-right: 100px;  float: center;
}

.container {
    background-color: aliceblue ;


}
#jyita1 {
    margin: 10px;

}

.time {
      width: 50%; height: 0vh; position: absolute;
    bottom: 0; display: flex; justify-content: center; align-items: center; font-style: normal;
    font-size: 20px ; align-items: center; font-size: 40px;   display: flex;
    justify-content: center; 
}

